ttc/yelp_review_polarity_csv/train.csv
DiffSharp/_.git/objects/pack/pack-714abbe39ea32413f14a78556fb30811387a6369.pack
ttc/yelp_review_polarity_csv/yelp_review_polarity_csv/train.csv
ttc/ConsoleApp1/.vs/*
MyTrainedModel/*pickle
MyTrainedModel/*pickle*

